.crystals {
    display: flex;
    flex-wrap: wrap;
    flex: 75%;
    justify-content: space-between;
    border: 1px solid white;
    align-items: center;
}

.crystal {
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    padding-right: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

body {
    background-color: #81d8d0;
    font-size: 24px;
    line-height: 34px;
    font-family: inherit;
    color: white;
}

h1 {
    font-size: 76px;
}

img {
    width: 75%;
}

/*footer*/

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 18px;
    text-align: center;
}

.cointainer {
    background-color: #81d8d0;
    color: white;
}

.anime {
    opacity: .5;
    transition: .5s;
    /* Animation */
}

.anime:hover {
    transition: .5s;
    /* Animation */
    opacity: 1;
    border-radius: 75%;
}

@media (max-width: 640px) {
    .crystal {
        width: 125px;
        height: 125px;
    }
    body {
        font-size: 12px;
    }
    h1 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .crystal {
        width: 150px;
        height: 150px;
    }
    body {
        font-size: 14px;
    }
    h1 {
    font-size: 30px;
}
}