

#tl{
    width: 75%;
    padding-bottom: 5px;
}

#tr{
    width: 75%;
    padding-bottom: 5px;
}

#bl{
    width: 75%;
    padding-bottom: 5px;
}


#br{
    width: 75%;
    padding-bottom: 5px;
}

.crystal-image {
    width: 300px;
    height: 300px;
}


body {
    background-color: #81d8d0;
    font-size: 16px;
    line-height: 34px;
    font-family: inherit;
    color: white;

}


/*footer*/

footer {
    background: #666;
    color: #fff;
    padding: 30px 0;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 18px;
    text-align: center;
}

.cointainer {
    background-color: #81d8d0;
    color: white;
}

.anime {
    float: left;
    width: 90%;
    opacity: .5;
    transition: .5s;
    /* Animation */
}

.anime:hover {
    transition: .5s;
    /* Animation */
    opacity: 1;
    border-radius: 75%;
}